<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--script-->
    <!--페이지를 화면에 출력하기 전에 필요한 스크립트-->
</head>
<body>
<pre>
    id명 : #아이디명, 페이지에서 태그에 하나의 고유의 이름을 지정
    클래스명 : .클래스명, 페이지에서 여러태그에 동일한 이름을 지정

    [출력문]
    1. HTML DOM요소를 이용한 innerHTML로 태그에 직접 출력
    2. window.alert()를 이용한 메시지 창으로 출력
    3. document.write()는 HTML에 출력
    4. console.log(), console.info()는 브라우저 콘솔창에 출력(개발시 확인이 필요할 때)
    5. window.confirm()는 확인창(예(true)/아니오(false))
    6. window.prompt()는 입력창으로 값을 입력받는다.
    7. window.print()는 프린터에 출력

    [기본문법]
    1. 문장의 끝은 ;으로 표기(생략가능)
    2. 변수선언은 데이터형이 없다. var, let 선언 후 사용(생략가능),
    데이터형은 들어오는 값에 의해서 결정된다.
    var sum;
    let a, b, c;
    3. 함수선언은 function 함수명(인수값), 리턴값 선언은 없다.

    [연산자]
    +, -, *, /, **(제곱), %(나머지), ++(증가연산자), --(감소연산자)

    [대입연산자]
    해당변수를 대상으로 연산처리 후 다시 해당 변수에 저장
    =앞에 연산자를 두고 = 뒤에 계산할 값으로 줄여서 표헌
    =양 옆에 변수명이 동일할 때만 적용 가능
    +=, -=, *=, /=, %=

    sum = sum + 변수(1이상의 수)   sum = 변수 + sum

    sum =
    sum + 1

    줄임 sum += 1

    [증감연산자]
    해당변수에 값을 1증가 또는 감소를 시킨다.
    ++, --
    sum = sum + 1(반드시 1을 사용할 때만)
    sum += 1 ===> sum++

    ++sum(선위처리기), sum++(후위처리기), --sum, sum--

    ++sum, sum-- 단독으로 사용할 때는 앞뒤 상관이 없다.

    a=5; b=5;
    tot = ++a + b++; 연산식에 증감연산자가 포함이 되면 ++위치가 중요

    풀이)
    a=a+1   a=6
    tot = a + b   6+5=11
    b=b + 1   b=6

    [비교언산자(관계연산자)]
    두 값을 비교해서 맞으면 true(1), 틀리면 false(0)
    a>b     a가 b보다 크다.(초과)
    a>=b    a가 b보다 크거나 같다.(이상)
    a<b     a가 b보다 작다.(미만) b가 a보다 크다.
    a<=b    a와 b보다 작거나 같다.(이하)
    a==b    a와 b가 같다. ==가 인식이 안되는 경우 ===
    a!=b    a와 b가 같지 않다.

    [논리연산자]
    2개 이상의 비교연산을 결합
    논리곱, &&, a && b : a 와 b 모두 맞으면 true, 하나라도 틀리면 false
        이고, 이면서
        예)kok >= 60 && eng >= 60 국어가 60점 이상이고 영어가 60점 이상이면 true</b>
    논리합, ||, a || b : a 와 b 중 하나라도 맞으면 true, 모두 틀리면 false
        중, 또는
        예) kok >= 60 || eng >= 60 국어가 60점이상이거나 영어가 60점 이상이면 true
    부정, ! 현재 결과를 반대로 출력(true -> false, false -> true)

    [문자열 연산]
    문자열 결합(+)
    숫자 + 숫자 = 숫자        5+5=10
    문자열 + 숫자 = 문자열      "국어"+50=국어50
    숫자 + 문자열 = 문자열      50+"점"=50점
    문자열 + 문자열 = 문자열     "안녕"+"하세요"="안녕하세요"

    [조건문(제어문)]
    프로그램의 흐름을 제어하는 명령
    if(조건) { ==>특정 조건에 내용을 추가하고자 할때
    조건을 만족할 때 추가 처리할 부분
    }
    조건처리 또는 만족하지 못했을 때 공통으로 처리

    if(조건) { ==>조건에 따라 처리하는 내용이 다른 경우
    조건을 만족했을 때 처리할 부분
    } else {
    조건을 만족하지 못했을 때 처리할 부분
    }
    공통처리

    하나의 값으로 여러개의 조건이 존재하면 다중 if문 사용
    국어 60점 일때, 70점 일때, 80점 일때. ... 조건 갯수-1 =>if문 갯수
    비교값을 오름차순 또는 내림차순으로 순서대로 작업
    if(국어 >= 60) { 국어 60점일 때
    } else if(국어>=70점일때) {70점일때, 80점일때 else if 일때는 위에 if문이 없다고 생각
    } else { 80점일때
    }

    swtich문
    두 값이 같은 경우에만 비교(if~else if 비슷한데 관계연산자는 ==만 사용 가능)
    switch(변수명) {
        case 값1 : 값1이 같으면
            break;
        case 값1 : 값2이 같으면
            break;
        default: 만족하는 값이 없을 때 (else)
    }

    a=5;
    switch(a) {
        case 1: a값이 1과 같으면
            console("1입력");
            break;
        case 2: a값이 2와 같으면
            console("2입력");
            break;
        default: a값과 일치하는 내용이 없으면
            console("일치하는 값 없음");
    }

    [반복문]
    1. while문 : 반복횟수의 끝이 불확실할 때 사용, 최소 0회~
    2. do~while문 : 반복횟수의 끝이 불확실할 때 사용, 최소 1회반복
    3. for문 :  반복의 끝이 명확할 때 사용, 최소 0회~
    4. for /in문 : 객체들을 하나씩 읽어서 읽을 수 없을 때까지 반복
    5. for /of문 : 객체(Array, Map, Set)에 있는 내용들을 하나씩 읽어서 반복
        (1)  (2)(5)(4)
    for(초기값;조건;증감) {
   (3)
    }
    초기값;(1)
    while(조건(2)(5)){
    (3)
    증감(4)
    }
    반복전에 조건이 만족하는지 확인

    초기값(1)
    do {
     (2)(5)
     증감(3)
    }while(조건(4));

    [배열]
    하나의 변수에 동일한 데이터형의 데이터를 연속적으로 저장
    var 배열명 = [값, 값, 값];
    var 배열명 = Array(값, 값, 값);
    var 배열명 = new Array(값, 값, 값);
    var 배열명 = new Array(1,3,5,4);

    [MAP]
    하나의 변수에 [변수명, 값]으로 구성해서 연속적으로 저장
    var배열명 = new Map("국어:50", "영어:60")

    [List]
    하나의 변수에 서로 다른 데이터형의 데이터를 연속적으로 저장
    var 배열명 = new Array(1, "연습", 60, true)

    [함수선언]
    function 함수명(인수, 인수, 인수...) {
        return;
    }

</pre>
<p id="print"></p>
<!--script-->
<!--페이지를 화면에 출력 후 동작처리/ 유효성/ 비동기식처리 스크립트-->
<!--layout을 사용할 때는 inline을 추가-->
<script>
    window.alert("저장하였습니다.");
    console.log("작업처리 완료");
    a = window.confirm("저장하시겠습니까?");
    document.write(a);  //기존내용에 새로운 내용을 추가
    b = window.prompt("이름을 입력하세요?");
    //id가 print인 테그를 찾아서 태그내에 b를 출력
    document.getElementById("print").innerHTML = b;

</script>
</body>
</html>